# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
x = 20
y = 20

print(x is y)
print(x == y)

True
True

У Python для цілих чисел в діапазоні від -5 до 256 створюються повторно використовувані об'єкти. Це означає, що якщо ви створюєте дві змінні, які посилаються на ці цілі числа в цьому діапазоні, вони будуть посилатися на один і той самий об'єкт в пам'яті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [3]:
x = True
print(type(x) is bool)
print(type(x) is int)
print(isinstance(x, bool))
print(isinstance(x, int))

True
False
True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [4]:
my_int = 20
my_double = 4.5
print(my_int + my_double)
print(my_int - my_double)
print(my_int / my_double)
print(my_int * my_double)
print(my_int // my_double)
print(my_int % my_double)
print(my_double ** my_int)

24.5
15.5
4.444444444444445
90.0
4.0
2.0
11594453295761.994

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [7]:
my_casted_double_to_int = int(my_double)

print(type(my_casted_double_to_int) is int)
print(my_casted_double_to_int)


my_bool = False
my_casted_bool_to_int = int(my_bool)

print(type(my_casted_bool_to_int) is int)
print(my_casted_bool_to_int)

True
4
True
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [10]:
first_empty_string = ""
second_empty_string = str()
print(first_empty_string is second_empty_string)

True

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [13]:
string_with_apostrophe = 'It\'s a string with an apostrophe.'
raw_string_with_apostrophe = r'It\'s a string with an apostrophe.'

print(string_with_apostrophe)
print(raw_string_with_apostrophe)

It's a string with an apostrophe.
It\'s a string with an apostrophe.

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [14]:
my_surname = "Havryliuk"
string = f"My surname is {my_surname}"
print(string)

My surname is Havryliuk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [17]:
string = "My dog is crazy."
print(string.replace(".", "").lower().split())

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [19]:
list1 = [1, 2, 3, 4, 5]
list2 = list(range(6))
print(len(list2))

6

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [22]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

list1.extend([list2])

print(list1)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [24]:
my_nested_list = [[1, 2], [3, 4, 5],  [6, 7, 8, 9, 10]]
print(my_nested_list[2][0])

6

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [28]:
my_original_list = [1, "two", 3.0, True, [4, 5], "six", {"seven": 7}, (8, 9), False, "ten"]
new_sliced_list = my_original_list[2:-2]

print(new_sliced_list)

[3.0, True, [4, 5], 'six', {'seven': 7}, (8, 9)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
my_tuple = (1)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

кортеж і список є подібними, проте їх відрізняє синтаксис(список має квадратні скобки, а кортежі - круглі), і що саме головне - кортеж є іммутабельним, тобто таким, що не можна змінити. Тобто, щоб модифікувати кортеж, присвоїти певному індексу нове значення, варто створювати новий кортеж. У той самий час, список можна редагувати.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [31]:
my_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
my_new_tuple = my_tuple[::-2]

print(my_new_tuple)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [33]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(1)

print(my_set)

{1, 2, 3}

так, ми можемо змінювати множину

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [34]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)

print(my_set)

{1, 2, 67, 8, 9}

тому що множина це структура дані котра зберігає лише унікальні значення і прибирає дублікати

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [35]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print("Об'єднання множин:", union_set)

difference_set = set1.difference(set2)
print("Різниця множин (set1 - set2):", difference_set)

intersection_set = set1.intersection(set2)
print("Пересічення множин:", intersection_set)

symmetric_difference_set = set1.symmetric_difference(set2)
print("Симетрична різниця множин:", symmetric_difference_set)

print("Початкова множина set1:", set1)
print("Початкова множина set2:", set2)

Об'єднання множин: {1, 2, 3, 4, 5, 6, 7, 8}
Різниця множин (set1 - set2): {1, 2, 3}
Пересічення множин: {4, 5}
Симетрична різниця множин: {1, 2, 3, 6, 7, 8}
Початкова множина set1: {1, 2, 3, 4, 5}
Початкова множина set2: {4, 5, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [36]:
my_dict = {}

my_dict["name"] = "John"
my_dict[42] = "Answer"
my_dict[3.14] = "Pi"
my_dict[("a", "b")] = "Tuple"

print(my_dict)

{'name': 'John', 42: 'Answer', 3.14: 'Pi', ('a', 'b'): 'Tuple'}

список не може бути ключем, тому що ключі мають бути іммутабельними(незмінними), бо інакше ми втрачатимемо доступ до значення, а списки можна редагувати

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [37]:
nested_dict = {
    "outer_key": {
        "inner_key": {
            "inner_inner_key": "value"
        }
    }
}

print(nested_dict["outer_key"]["inner_key"]["inner_inner_key"])

value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.